* {
  margin: 0;
}

.jumbotron {
  display: flex;
  background-color: blue;
  color: white;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.col {
  border: blue solid 1px;
}

.forecast {
  height: 200px;
  width: 100px;
  border: red solid 1px;
}

.row-city {
  height: 200px;
}

#search-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 250px;
}

#search-form {
  font-weight: bold;
  font-size: xx-large;
}

#formCityInput {
  width: 250px;
  padding: 5px;
}
